doctype html
html
  head
    title welcome
    link(rel='stylesheet', href='/css/layout.css')
    block head
  body
    input.btn(type='button', value='Logout' style='float:right')#logoutButton
    block content
