extends layout

append head
    script(src="/plugin/jquery/dist/jquery.js")
    script(src='../javascripts/main.js' type='text/javascript')
    script(rel='javascript/text' src="/plugin/bootstrap/dist/js/bootstrap.js")

block content
        .div-main#div-main
            h1 Main
            h3#playerName
            h3#playerScore
            input.btn(type='button', value='Ranking')#rankButton
            input.btn(type='button', value='Play')#playButton
            input.btn(type='button', value='Chat')#chatButton
            input.btn(type='button', value='Todo')#todoButton
